{% extends '../components/layout.html' %}

{% block content %}

<section class="error">

  <article class="error__card">
    <img class="error__image" src="/media/img/site/error.png" alt="Image error" width="300">
    <span class="error__span">Erreur 404</span>
    <h1 class="error__heading">La page n'a pas été trouvée</h1>
    <p class="error__p">Désolé, la page que vous recherchez n'existe pas ou a été supprimée.</p>
    <p class="error__p">Continuez à explorer notre site. </p>
</article>

</section>
{% endblock %}
