{% extends '../components/layout.html' %}

{% block content %}

<section class="about">

  <article class="about__card">
    <img class="about__image" src="/media/img/site/about.jpg" alt="Image about" width="300">
    <h1 class="about__heading">Notre histoire</h1>
    <h2 class="about__title">Lorem ipsum dolor sit amet.</h2>
    <p class="about__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad officia quia, vero fugiat
      assumenda fugit,
    <p class="about__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad officia quia, vero fugiat
      assumenda fugit,
    <p class="about__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad officia quia, vero fugiat
      assumenda fugit,
      consequatur voluptatibus exercitationem esse saepe labore sapiente soluta.</p>
  </article>

  <article class="about__card">
    <h1 class="about__heading">Nos valeurs</h1>
    <p class="about__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad officia quia, vero fugiat
      assumenda fugit,
      consequatur voluptatibus exercitationem esse saepe labore sapiente soluta.</p>
    <section class="about__box">
    <h3>Lorem,</h3>
    <p class="about__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas odio alias voluptatibus veniam perferendis unde et
      tempore eligendi corporis aperiam animi, ratione qui, pariatur temporibus distinctio numquam ipsum. Sunt, minus.
    </p>
    <h3>Lorem,</h3>
    <p class="about__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas odio alias voluptatibus veniam perferendis unde et
      tempore eligendi corporis aperiam animi, ratione qui, pariatur temporibus distinctio numquam ipsum. Sunt, minus.
    </p>
    <h3>Lorem,</h3>
    <p class="about__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas odio alias voluptatibus veniam perferendis unde et
      tempore eligendi corporis aperiam animi, ratione qui, pariatur temporibus distinctio numquam ipsum. Sunt, minus.
    </p>
  </article>
</section>

</section>
{% endblock %}