@use "sass:map";
@use "../utils/mixins" as um;
@use "../globals/colors" as c;
@use "../globals/typography" as t;
@use "../utils/functions" as f;
@use "../components/buttons" as *;
@use "../globals/decoration" as *;


.about {
   display: flex;
   flex-direction: column;
   margin-top: f.rem(34px);
   padding: f.rem(1px);
   margin-bottom: f.rem(40px);



   &__card {
      justify-content: center;
      gap: f.rem(20px);
      margin-top: f.rem(20px);
      text-align: left;
      max-width: 50%;
      margin: f.rem(16px auto);


   }

   &__heading {
      margin-top: f.rem(25px);
      text-align: center;

      letter-spacing: -.015em;
      line-height: 1;
      color: map.get(c.$colors, "secondary-color");

      font: {
         weight: map.get(t.$font-weight, "font-wb");
         size: f.rem(map.get(t.$font-size, "font-sxl"));
      }

      span {
         color: map.get(c.$colors, "border-color");
      }
      @include um.responsive(large-screens) {
         font: {
            weight: map.get(t.$font-weight, "font-wb");
            size: f.rem(map.get(t.$font-size, "font-sxxl"));
         }
      }

   }
   &__title{
      margin-top: f.rem(20px);
      letter-spacing: -.015em;
      line-height: 1;
      color: map.get(c.$colors, "secondary-color");
   
      font: {
         weight: map.get(t.$font-weight, "font-wb");
         size: f.rem(map.get(t.$font-size, "font-s6"));
      }

      span {
         color: map.get(c.$colors, "border-color");
      }
      @include um.responsive(large-screens) {
         font: {
            weight: map.get(t.$font-weight, "font-wb");
            size: f.rem(map.get(t.$font-size, "font-s5"));
         }
      }

   }

   &__p {
      // margin-top: f.rem(20px);
      padding: f.rem(20px 0);
      text-align: left;
      letter-spacing: -.01em;
      line-height: 1.25;
      color: map.get(c.$colors, "secondary-color");

      font: {
         weight: map.get(t.$font-weight, "font-wm");
         size: f.rem(map.get(t.$font-size, "font-sxl"));
      }

      @include um.responsive(large-screens) {
         width: 100%;
      }
      

   }
   &__p {
      padding: f.rem(20px 0);
      text-align: left;
      letter-spacing: -.01em;
      line-height: 1.25;
      color: map.get(c.$colors, "secondary-color");

      font: {
         weight: map.get(t.$font-weight, "font-wm");
         size: f.rem(map.get(t.$font-size, "font-sxl"));
      }

      @include um.responsive(large-screens) {
         width: 100%;
      }
      

   }

   &__box{
      padding: f.rem(24px);
      background-color: map.get(c.$colors, "background-color");

      h3{
          // margin-top: f.rem(20px);
      padding: f.rem(20px 0);
      text-align: justify;
      letter-spacing: -.01em;
      line-height: 1.25;
      color: map.get(c.$colors, "secondary-color");

      font: {
         weight: map.get(t.$font-weight, "font-wb");
         size: f.rem(map.get(t.$font-size, "font-sxl"));
      }

      @include um.responsive(large-screens) {
         // text-align: left;
         width: 100%;
      }
      

      }
   }

   &__link {
      padding: f.rem(20px 20px);
      color: map.get(c.$colors, "border-color");

      font: {
         weight: map.get(t.$font-weight, "font-wb");
         size: f.rem(map.get(t.$font-size, "font-ss"));
      }
   }

}
